header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }

  header nav img {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  header nav div {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
}
